dash
dash-core-components
dash-html-components
dash-renderer
dash-table
pandas~=2.2.1
sqlalchemy~=2.0.28
matplotlib~=3.8.3
seaborn~=0.12.2
statsmodels
scikit-learn
plotly~=5.19.0
selenium~=4.18.1
jupyterlab
jupyter_contrib_nbextensions
PyAutoGUI~=0.9.54
numpy